<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d68fa3">  <td>19/02/10 01:20:50</td>   <td>0</td> <td title="&gt;&gt;ProjectMethod.beforeSuite()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@52a86356]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/02/10 01:20:51</td>   <td>313</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@52a86356]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>19/02/10 01:20:51</td>   <td>321</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.beforeClass()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@52a86356]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>19/02/10 01:20:51</td>   <td>337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.login()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@52a86356]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/02/10 01:21:04</td>   <td>13839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createlead()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@52a86356]">createlead</td> 
  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>19/02/10 01:21:11</td>   <td>21013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethod.closeApp()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@52a86356]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>19/02/10 01:21:14</td>   <td>23212</td> <td title="&lt;&lt;ProjectMethod.afterSuite()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@52a86356]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@523691575</td>   <td></td> </tr>
</table>
