<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d68fa3">  <td>19/02/10 00:56:02</td>   <td>0</td> <td title="&gt;&gt;ProjectMethod.beforeSuite()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@66480dd7]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>19/02/10 00:56:02</td>   <td>672</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.beforeClass()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@66480dd7]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/02/10 00:56:02</td>   <td>703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createlead()[pri:0, instance:bl.framework.testcases.TC002_CreateLead@66480dd7]">createlead</td> 
  <td>main@660143728</td>   <td></td> </tr>
</table>
